@import './utils/variables';
@import './utils/utilitiess';
@import './components/common';
@import './components/page-header';
@import './components/logo';
@import './components/header-navigation';
@import './components/header-contacts';
@import './components/hero';
@import './components/advantages';
@import './components/occupation';
@import './components/team';
@import './components/client-list';
@import './components/footer';
@import './components/footer-address';
@import './components/footer-social';
@import './components/footer-subscribe';
@import './components/backdrop';
@import './components/modal';
