.advantages-list {
  @extend %list;
  display: flex;
}
.advantages-item {
  width: calc((100% - 90px) / 4);
  &:not(:last-child) {
    margin-right: 30px;
  }
}
.advantages-icon-container {
  display: flex;
  height: 120px;
  background-color: $secondary-bg-color;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}

.advantages-title {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.advantages-text {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  color: $secondary-text-color;
}
