.advantages-list {
  @extend %list;
  // width: 100%;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}
.advantages-item {
  width: 100%;

  // &:not(:last-child) {
  //   margin-bottom: 30px;
  // }
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 1 * 30px) / 2);
    &:not(:nth-child(even)) {
      margin-right: 30px;
    }
    &:not(:nth-last-child(-n + 2)) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 3 * 30px) / 4);
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
.advantages-icon-container {
  display: flex;
  height: 120px;
  background-color: $secondary-bg-color;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}

.advantages-title {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.advantages-text {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  color: $secondary-text-color;
}
