.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $dark-bg-color;
}
.footer .container {
  display: flex;
  flex-wrap: wrap;
  @media screen and (max-width: 767px) {
    justify-content: center;
  }

  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    justify-content: space-around;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
.footer-call-to-action {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $primary-bg-color;

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}
