.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $dark-bg-color;
}
.footer .container {
  display: flex;
}
.footer-call-to-action {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $primary-bg-color;
}
