.contacts-list {
  @extend %list;
  display: flex;
}

.contacts-icon {
  display: block;
  fill: currentColor;
  margin-right: 10px;
}
.contacts-item:not(:last-child) {
  margin-right: 50px;
}
.contacts-link {
  @extend %link;
  @extend %hover;
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: $secondary-text-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
// .contacts .link:hover,
// .contacts .link:focus {
//   color: $accent-color;
//   fill: currentColor;
// }
