.hero {
  display: block;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio/hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $dark-bg-color;
  text-align: center;
}
.hero-container {
  max-width: 696px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 1px solid navy; */
}
.hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  color: $primary-bg-color;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-button {
  @extend %hover;
  border-radius: 4px;
  padding: 10px 32px;
  display: inline-block;
  min-width: 200px;

  background-color: $accent-color;
  color: $primary-bg-color;
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
