.logo {
  @extend %link;
  margin-right: 93px;
  color: $primary-text-color;
  font-family: $logo-font;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.accent {
  color: $accent-color;
}
.footer-logo {
  @extend .logo;
  display: block;
  padding-bottom: 20px;
  color: $primary-bg-color;
}
