.portfolio-buttons {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 15px;

  @media screen and (min-width: 768px) {
    justify-content: center;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}
.portfolio-button-item {
  &:not(:last-child) {
    margin-right: 8px;
  }
  @media screen and (max-width: 767px) {
    margin-bottom: 15px;
  }
}
.portfolio-button {
  @extend %hover;
  padding: 6px 22px;
  border-radius: 4px;

  font-family: inherit;
  border-color: transparent;
  background-color: $secondary-bg-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;

  &:hover,
  &:focus {
    color: $primary-bg-color;
    background-color: $accent-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    cursor: pointer;
  }
}
