%list {
  list-style: none;
}

%link {
  text-decoration: none;
}

%hover {
  transition-property: color, background-color, box-shadow, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
